  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: larger;
  }
  .heading_div
  {
    
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float:none;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    border-radius:8px ;
  }
  body{
    background-size: cover;
  }
  .result_para_tag span{
white-space: pre-line;
  }
  .copy_right_footer{
    bottom: 0;
    position: fixed;
    background-color: aquamarine;
    text-align: center;
    width: 100%;
  }
 .test_image_and_result{
   border: radius 15px; 
 }
 